*{
    margin: 0;
    padding: 0;
}
body{
    background: rgb(253, 255, 154);
}
/* media query begins*/
@media only screen and (min-width:480px) {
    body {
        width: 95%;
        background: rgb(209, 201, 175);
        margin: 0px auto;
        box-shadow: 1px 1px 5px gray;
        padding: 0px 2px;
        border-radius: 2px;
    }
    #language #vowel-list div, #language #vowel-list div, #language #syllable-list div, #language #syllable-list div{
        font-size: 2rem;
    }
}
/* media query ends*/

#wrapper{
    width: 95%;
    background: white;
    margin: 0 auto;
    box-shadow: 1px 1px 5px gray;
    padding: 0px 2px;
    border-radius: 2px;
}
p{
    padding: 10px 0px 3px 10px;
}
header h1 {
    color: rgb(29, 92, 4);
    padding: 30px 10px;
}
nav{
    background: lightblue;
    position: sticky;
    top: 0;;
}
nav a{
    display: inline-block;
    padding: 8px;
    text-decoration: none;
    font-size: 1.1rem;
    color: rgb(66, 24, 5);
    font-weight: bold;
}
nav a:hover{
    background: white;
    color:darkgreen;
}
nav a:active{
    background: rgb(136, 82, 82);
    color: black;
}
#vowels {
    display: grid;
    grid-template-columns : repeat(4, minmax(30px, 1fr));
    grid-gap: 8px;
    border: 2px solid rgb(16, 214, 165);
}
#vowels div:nth-child(odd), #syllables div:nth-child(odd){
    display:grid;
    grid-template-columns: 1fr 1fr;
}
#vowels div:nth-child(even), #syllables div:nth-child(even){
    display:grid;
    grid-template-columns: 1fr 1fr;
}
.vowel-varna-letters{
    color: rgb(10, 2, 90);
    padding: 3px 4px;
    border-right: .5px solid green; 
    font-size: 1.3rem;
    text-align: center;
    background: rgb(16, 214, 165);
}
.vowel-romanized-letters {
    color: rgb(255, 255, 255);
    padding: 3px 4px;
    border-right: .5px solid blue;
    font-size: 1.3rem;
    text-align: center;
    background: rgb(233, 27, 130);
}
.syllable-varna-letters{
    color: rgb(255, 255, 255);
    padding: 3px 3px;
    border-right: .5px solid green; 
    font-size: 1.3rem;
    text-align: center;
    background: rgb(155, 7, 130);
}
.syllable-romanized-letters {
    color: rgb(238, 197, 17);
    padding: 3px 3px;
    border-right: .5px solid blue;
    font-size: 1.3rem;
    text-align: center;
    background: rgb(43, 4, 107);
}

#syllables {
    display: grid;
    grid-template-columns : repeat(5, minmax(30px, 1fr));
    grid-gap: 8px;
    border: 2px solid rgb(16, 214, 165);
}
button{
    width: 150px;
    height: 40px;
    font-size: 1.2rem;
    margin: 5px auto;
    padding: 5px;
    background: rgb(6, 70, 70);
    border: 1px solid rgb(184, 184, 36);
    color: white;
    box-shadow: 2px 2px 5px gray;
    border-radius: 8px;
}
h2{
    color: rgb(136, 61, 7);
    padding: 10px 10px 3px 10px;
}
h3{
    color: rgb(9, 66, 112);
    padding: 10px 10px 3px 10px;
}
#learn-vowels, #learn-syllables, #blogs, #language, #vowels, #syllables {
    display: none;
}

#language #vowel-list {
    display: grid;
    grid-template-columns: repeat(4, minmax(30px, 1fr));
    grid-gap: 5px;
    margin-left: 10px;
}
#language #syllable-list{
    display: grid;
    grid-template-columns: repeat(5, minmax(30px, 1fr));
    grid-gap: 4px;
    margin-left: 10px;
}
#language #vowel-list div, #language #syllable-list div{
    background: rgb(1, 71, 1);
    padding: 6px 3px;
    
}
#language #vowel-list div span:nth-child(odd){
    color: rgb(247, 171, 171);
    float: left;
    /* font-size: 1.3rem; */
}
#language #vowel-list div span:nth-child(even){
    color: white;
    float: right;
    /* font-size: 1.3rem; */
}
#language #syllable-list div span:nth-child(odd) {
    color: rgb(238, 146, 146);
    float: left;
}
#language #syllable-list div span:nth-child(even){
    color: white;
    float: right;
}

footer {
    background: lightblue;
    padding: 30px;
}